.bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;    
    object-fit: contain;  
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    gap: 20px;
}
h1{
    color: white;
}

h2{
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
}
.chamada {
    width: 80%;
    padding: 20px;
    background: rgb(4, 4, 4, 0.5);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}
.apresentacao {
    width: 80%;
    padding: 20px;
    background: rgb(2, 2, 2, 0.5);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.tutorial {
    width: 80%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.proposito {
    width: 80%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}
.jogar {
    width: 80%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}
.emocional {
    width: 80%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}
.print {
    width: 80%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}
.print2 {
    width: 80%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.botaoJogar {
    padding: 15px 45px;
    border-radius: 14px;
    border: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;

    background: linear-gradient(45deg, #ff0000, #ff0000);
    color: white;
    text-shadow: 2px 2px 4px #000;

    box-shadow: 0 0 15px rgba(255, 0, 102, 0.7);
    transition: 0.3s;
}

.botaoJogar:hover {
    transform: scale(1.08);
    filter: brightness(1.2);
}

.botaoJogar2 {
    padding: 15px 40px;
    background: #ffb800;
    color: #4a2e00;
    font-weight: bold;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    box-shadow: 0 5px 0 #b58200;
    transition: 0.1s;
}

.botaoJogar2:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 #b58200;
}

.botaoJogar3 {
    padding: 15px 40px;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    background: #00ff9f;
    color: #003f2f;
    box-shadow: 0 0 10px #00ff9f, 0 0 20px #00ff9f;
    transition: 0.2s;
}

.botaoJogar3:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00ff9f, 0 0 40px #00ff9f;
}